{
  "root": true,
  "env": {
    "browser": true,
    "es2021": true,
    "es6": true,
    "node": true
  },
  "parser": "@typescript-eslint/parser",
  "parserOptions": {
    "sourceType": "module",
    "ecmaVersion": 12,
    "ecmaFeatures": {
      "jsx": true,
      "tsx": true
    }
  },
  "extends": ["plugin:prettier/recommended"],
  "plugins": ["@typescript-eslint", "prettier"],
  "rules": {
    "no-console": "off",
    "no-debugger": "off",
    "prettier/prettier": "error",
    "arrow-body-style": "off",
    "prefer-arrow-callback": "off"
  }
}
